<link rel="stylesheet" href="/static/style.css" type="text/css">
<head>
  <script type="text/javascript">// <![CDATA[
    function loading(){
      $("#loading").show();
      $("#content").hide();
    }
    //]]></script>
</head>
<div id="loading"></div>
<div id="content">
<form action="/2fa-decrypt" method="POST">
  <div class="login">
    <div class="login-screen">
      <div class="app-title">
        <h1>Get decryption</h1>
      </div>
      <div class="login-form">
        <div class="control-group">
          <input type="text" class="login-field" value="" placeholder="2FA code" name= "2fa">
          <label class="login-field-icon fui-user" for="2fa"></label>
        </div>
        <input type="submit" value="submit" class="btn btn-primary btn-large btn-block" onclick="preloader();">

    </div>
  </div>
</form>
</div>
