<!doctype html>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<form action="/option" method="POST">
  <div class="login-screen">
    <div class="app-title">
      <h1>Choose an option</h1>
    </div>
    <div class="login-form">
      <input type="submit" name="capone" value="Capital One Customers" class="btn btn-primary btn-large btn-block">
      <br>
      <input type="submit" name="store" value="Store" class="btn btn-primary btn-large btn-block">
      <br>
      <input type="submit" name="retrieve" value="Retrieve" class="btn btn-primary btn-large btn-block">
    </div>
  </div>
</form>
