<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% if not session['logged_in'] %}
<p>You're not logged in!</p>
{% else %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
     <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form action="/set_pass" method="POST">
<div class="login-screen">
  <div class="login-form">

    <div class="control-group">
      <input type="text" class="login-field" value="" placeholder="set username" name="username">
      <label class="login-field-icon fui-lock" for="username"></label>
    </div>

    <div class="control-group">
      <input type="text" class="login-field" value="" placeholder="set password" name="password">
      <label class="login-field-icon fui-lock" for="password"></label>
    </div>

    <div class="control-group">
      <input type="submit" name='submit' value="submit" class="btn btn-primary btn-large btn-block">
    </div>
  </div>
</div>
</form>

<form action="/logout" method="POST">
<div class="login-screen">
  <div class="login-form">
    <div class="control-group">
      <input type="submit" name='logout' value="Log out" class="btn btn-primary btn-large btn-block">
    </div>
  </div>
</div>
</form>

{% endif %}
{% endblock %}
