<link rel="stylesheet" href="/static/style.css" type="text/css">
<form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
  <div class="login">
    <div class="login-screen">
      <div class="app-title">
        <h1>Upload your encrypted image</h1>
      </div>
      <div class="login-form">
        <div class="control-group">
          <input type="file" class="login-field" name="file"/>
          <label class="login-field-icon fui-user" for="retrieval"></label>
        </div>
        <input type="submit" value="submit" class="btn btn-primary btn-large btn-block">
      </div>
    </div>
  </div>
</form>

